page-home {

  .tool-container {
    padding: 20px 16px;
  }

  .filter {
    min-height: 48px;
  }

  .searchbar-input-container {
    & .searchbar-input {
      padding: 10px 50px 10px 40px;
      font-family: 'NunitoSans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: var(--dark);
      box-shadow: none;
      border: solid 1px rgba(38, 50, 56, 0.12);
    }
    & .searchbar-search-icon {
      color: var(--blue-grey);
      left: 13px;
    }
    & .searchbar-input:focus {
      border: solid 1px var(--azure);
    }
  }

  button.filter {
    color: var(--blue-grey);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
  }

  button.sort {
    padding-right: 0px;
    color: var(--blue-grey);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
  }

  h3 {
    margin: 0;
    color: var(--blue-grey);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .searchbar, .searchbar-md, .searchbar-left-aligned {
    padding: 24px 0 20px 0;
  }

  .view-list {
    padding-left: 5px;
    background-color:transparent;
  }

  .view-grid {
    background-color:transparent;
  }

  .active {
    color: var(--slate);
  }

}
