page-product-details {
  // .back-button.show-back-button {
  //   display: none;
  // }

  .content-container {
    width: 100%;
    padding: 0 1.6rem;
  }

  .container {
    height: 300px;
    padding: 6px 28px 0 28px;
    background-color: var(--ice-blue);
  }

  .test {
    min-height: 22rem;
    margin-bottom: 3.2rem;
  }

  .slide-zoom {
    height: 100%;
    position: relative;
  }

  .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    border: solid 1px var(--blue-grey);
    background-color: var(--ice-blue);
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    background: var(--blue-grey);
  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 0 0;
    text-align: center;
  }

  .bottom-line {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: rgba(127, 151, 163, 0.32);
  }

  h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark);
  }

  p.brand {
    margin-top: 6px;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: var(--blue-grey);
  }

  span.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark);
  }

  .multiple-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }

  .product-selection {
    width: 32.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .product-size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  button.size-button {
    width: 44px;
    height: 40px;
    padding: 0;
    border-radius: 2px;
    font-family: 'NunitoSans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }

  button.available {
    background-color: transparent;
    border: solid 1px var(--bluey-grey);
    color: var(--slate);
  }

  button.not-available {
    background-color: var(--ice-blue);
    color: var(--slate);
  }

  button.active {
    background-color: var(--dark);
    color: #ffffff;
  }

  div.size {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 40px;
  }

  span.size-text {
    width: 100%;
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }

  .product-kit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 2rem;
    margin-bottom: 3.2rem;
  }

  button.kit-button {
    width: 80px;
    height: 40px;
    padding: 0;
    border-radius: 2px;
    font-family: 'NunitoSans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }

  div.kit {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 40px;
  }

  span.kit-text {
    width: 100%;
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }

  .product-quantity {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 40px;
  }

  span.quantity-text {
    width: 100%;
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }

  button.quantity-button {
    position: relative;
    width: 44px;
    height: 40px;
    padding: 0;
    border-radius: 2px;
    font-family: 'NunitoSans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }

  button.remove {
    background-color: var(--ice-blue);
  }

  button.add {
    color: var(--blue-grey);
    background-color: var(--ice-blue);
  }

  .qty-number {
    font-family: 'NunitoSans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #2c393f;
  }

  .quantity-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .accordion-list {
    height: 100%;
    margin: 0;
  }

  .label, .label-md {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'NunitoSans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c393f;
  }

  .item-inner {
    position: relative;
  }

  .icon-arrow {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--blue-grey);
  }

  .item-md ion-icon[item-end] {
    margin: 0;
  }

  .item, .item-md, .list-header, .list-header-md {
    height: 4.8rem;
    margin: 0;
  }

  .add-wrap {
    width: 32.8rem;
    padding: 0 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.4rem;
  }

  .add-btn {
    width: 100%;
    margin: 0;
    height: 4rem;
    padding: 0;
    border-radius: 2rem;
    background-image: linear-gradient(97deg, var(--turquoise-blue), #00acc1);
    font-family: 'NunitoSans', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }

  h4 {
    margin: 0 0 1.6rem 0;
    font-family: 'NunitoSans' sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--blue-grey);
  }

  .card, .card-md {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .img-wrap {
    position: relative;
    height: 17rem;
    width: 100%;
    padding: 10px 0;
  }

  .img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-content, .card-content-md {
    padding: 8px 10px 4px 10px;
    text-align: left;
  }

  p.product-name {
    font-family: 'NunitoSans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--dark);
  }

  span.price {
    font-family: 'NunitoSans' sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--blue-grey);
  }

}
