<!-- <ion-grid no-padding>
  <ion-row>
    <div class="grid-wrap">
        <ion-card class="grid-card">
          <div class="image-wrap">
            <img src="assets/imgs/salat-grecheskiy.jpg" alt="">
          </div>
          <ion-card-content class="grid-card-content">
            <p class="product-name">Some products</p>
            <p class="brand">Nike</p>
            <div class="price-add">
              <span class="price">165$</span>
              <button class="button-tiny">Add to Cart</button>
            </div>
          </ion-card-content>
        </ion-card>
    </div>

    <div class="grid-wrap">
      <ion-card class="grid-card">
        <div class="image-wrap">
          <img src="assets/imgs/salat-olive.jpg" alt="">
        </div>
        <ion-card-content class="grid-card-content">
          <p class="product-name">Some products sdfsfdsf sdfsfd sdf</p>
          <p class="brand">Nike</p>
          <div class="price-add">
            <span class="price">165$</span>
            <button class="button-tiny">Add to Cart</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="grid-wrap">
      <ion-card class="grid-card">
        <div class="image-wrap">
          <img src="assets/imgs/salat-chuka-sarada.jpg" alt="">
        </div>
        <ion-card-content class="grid-card-content">
          <p class="product-name">Some products sdfsdfsdf sdfsdf</p>
          <p class="brand">Nike</p>
          <div class="price-add">
            <span class="price">165$</span>
            <button class="button-tiny">Add to Cart</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="grid-wrap">
      <ion-card class="grid-card">
        <div class="image-wrap">
          <img src="assets/imgs/boloniya.jpg" alt="">
        </div>
        <ion-card-content class="grid-card-content">
          <p class="product-name">Some products sdfsdfsdf sdfsdf</p>
          <p class="brand">Nike</p>
          <div class="price-add">
            <span class="price">165$</span>
            <button class="button-tiny">Add to Cart</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-row>
</ion-grid> -->
